.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  padding: 8px;
}
.root:focus-within {
  outline: none;
}
.root:not(:focus-within) {
  outline: none;
}
.svg {
  object-fit: cover;
  color: #70c23e;
  width: 20px;
  height: 20px;
  display: block;
  flex-shrink: 0;
  border-radius: 40px;
  border: 0px solid #bfbfbf;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg {
    width: 23px;
  }
}
.root:focus-within .svg {
  outline: none;
  border-width: 6px;
  border-color: #70c23e;
}
.root:not(:focus-within) .svg {
  color: #ffffff;
  margin-right: 0px;
  outline: none;
  border-width: 6px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root:focus-within .svg {
    color: var(--token-41VRhDKfihhY);
    outline: none;
  }
}
